# Crear la BD para guardar los datos

In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import mysql.connector
from random import seed
from random import randint

import matplotlib as mpl

In [12]:
# Connect to MySQL
mydb = mysql.connector.connect(
  host="localhost",
  user="cecilia",
  password="cecilia"
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000021887369970>

In [13]:
# Create a database
mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE IF NOT EXISTS cryptopunks")

mycursor.execute("SHOW DATABASES")

for x in mycursor:
  if x[0] == 'cryptopunks':
    print('Succesfull creation of database')

Succesfull creation of database

In [14]:
# Connect to the new database
mydb = mysql.connector.connect(
  host="localhost",
  user="cecilia",
  password="cecilia",
  database="cryptopunks"
)

In [15]:
mycursor = mydb.cursor()

# Create tables 

mycursor.execute("CREATE TABLE IF NOT EXISTS cryptopunks (cpID INT NOT NULL, owner CHAR(55), type CHAR(55), for_sale BOOLEAN, value_price INT, bids BOOLEAN, bid_value INT, PRIMARY KEY (cpID))")
mycursor.execute("CREATE TABLE IF NOT EXISTS cp_attributes (cpID INT NOT NULL, attribute CHAR(55) NOT NULL, FOREIGN KEY (cpID) REFERENCES cryptopunks(cpID))")
mycursor.execute("CREATE TABLE IF NOT EXISTS transactions (trID INT NOT NULL AUTO_INCREMENT, cpID INT NOT NULL, tr_type CHAR(55), tr_from CHAR(55), tr_to CHAR(55), amount CHAR(55), txn CHAR(55), PRIMARY KEY (trID), FOREIGN KEY (cpID) REFERENCES cryptopunks(cpID))")

    
mydb.commit()

## OJO!! Borra la base de datos

In [ ]:
# To delete database
mycursor.execute("DROP TABLE cryptopunks") 
mycursor.execute("DROP TABLE attributes") 
mycursor.execute("DROP TABLE transactions") 
mycursor.execute("DROP DATABASE cryptopunks")