# Crear la BD para guardar los datos

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import mysql.connector
from random import seed
from random import randint

import matplotlib as mpl

In [2]:
# Connect to MySQL
mydb = mysql.connector.connect(
  host="localhost",
  user="cecilia",
  password="cecilia"
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000002358D63AA60>

In [3]:
# Create a database
mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE IF NOT EXISTS cryptopunks")

mycursor.execute("SHOW DATABASES")

for x in mycursor:
  if x[0] == 'cryptopunks':
    print('Succesfull creation of database')

Succesfull creation of database

In [4]:
# Connect to the new database
mydb = mysql.connector.connect(
  host="localhost",
  user="cecilia",
  password="cecilia",
  database="cryptopunks"
)

In [6]:
mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE IF NOT EXISTS types (id INT NOT NULL AUTO_INCREMENT, name CHAR(55), PRIMARY KEY (id))")
mycursor.execute("CREATE TABLE IF NOT EXISTS attributes (id INT NOT NULL AUTO_INCREMENT, name CHAR(55), PRIMARY KEY (atID))")

mydb.commit()

In [93]:
mycursor = mydb.cursor()

# Create tables 

mycursor.execute("CREATE TABLE IF NOT EXISTS types (id INT NOT NULL AUTO_INCREMENT, name CHAR(55), PRIMARY KEY (id))")
mycursor.execute("CREATE TABLE IF NOT EXISTS attributes (id INT NOT NULL AUTO_INCREMENT, name CHAR(55), PRIMARY KEY (atID))")


mycursor.execute("CREATE TABLE IF NOT EXISTS cryptopunks (cpID INT NOT NULL, owner CHAR(55), tyID INT NOT NULL, for_sale BOOLEAN, bids BOOLEAN, PRIMARY KEY (cpID), FOREIGN KEY (tyID) REFERENCES types(tyID))")

mycursor.execute("CREATE TABLE IF NOT EXISTS cp_attributes (cpID INT NOT NULL, atID INT NOT NULL, FOREIGN KEY (cpID) REFERENCES cryptopunks(cpID),FOREIGN KEY (atID) REFERENCES attributes(atID))")
mycursor.execute("CREATE TABLE IF NOT EXISTS transactions (trID INT NOT NULL AUTO_INCREMENT, cpID INT NOT NULL, tr_type CHAR(55), tr_from CHAR(55), tr_to CHAR(55), amount FLOAT(53,2), amount_dols FLOAT(53,2), txn DATE, PRIMARY KEY (trID), FOREIGN KEY (cpID) REFERENCES cryptopunks(cpID))")

    
mydb.commit()

In [ ]:
# Ingresar los valores de la tabla types
mycursor.execute("INSERT INTO `cryptopunks`.`types` (`tyID`, `at_type`, `quantity`, `avail`, `avg_sale`, `cheapest`) VALUES ('1', 'Alien', '9', '3', '0', '23000')")
mycursor.execute("INSERT INTO `cryptopunks`.`types` (`tyID`, `at_type`, `quantity`, `avail`, `avg_sale`, `cheapest`) VALUES ('2', 'Ape', '24', '3', '2500', '4160')")
mycursor.execute("INSERT INTO `cryptopunks`.`types` (`tyID`, `at_type`, `quantity`, `avail`, `avg_sale`, `cheapest`) VALUES ('3', 'Zombie', '88', '4', '900', '1380')")
mycursor.execute("INSERT INTO `cryptopunks`.`types` (`tyID`, `at_type`, `quantity`, `avail`, `avg_sale`, `cheapest`) VALUES ('4', 'Female', '3840', '510', '403', '68')")
mycursor.execute("INSERT INTO `cryptopunks`.`types` (`tyID`, `at_type`, `quantity`, `avail`, `avg_sale`, `cheapest`) VALUES ('5', 'Male', '6039', '851', '88', '73')")

mydb.commit()

## ATENCION borra la base de datos

In [51]:
# To delete database
mycursor.execute("DROP TABLE cryptopunks") 
mycursor.execute("DROP TABLE attributes") 
mycursor.execute("DROP TABLE transactions") 
mycursor.execute("DROP DATABASE cryptopunks")

DatabaseError: 3730 (HY000): Cannot drop table 'cryptopunks' referenced by a foreign key constraint 'cp_attributes_ibfk_1' on table 'cp_attributes'.